@import "~bootstrap/scss/bootstrap";

body {
  font-family: "Roboto", sans-serif;
}

.btn {
  font-weight: bold;
  border-radius: 0;
  padding: 0.8rem;
}

header {

  
  .dc-logo {
    height: 4rem;
  }

  .top-bar {
    height: 2rem;
    background-color: #0c7cec;
  }
  
  nav {

    padding: 2rem 0;

    ul {
      list-style-type: none
    }
    
    li {

      .link {
        text-decoration: none;
        color: inherit;
        padding: 0.4rem 0.6rem;
        margin: 0 0.5rem;
        border-radius: 15px;
      }

      .link.active {
        background-color: #0c7cec;
        color: white;
      }
    }

  }

  .jumbotron {
    height: 25rem;
    overflow: hidden;

  }

}

.content-section {
  padding: 2rem 0;
  background-color: #1c1c1c;
  position: relative;
  min-height: 300px;

  button#current-series {
    position: relative;
    top: -3rem;
    left: -1rem;  
  }

  button#load-more {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }

  
  .card {
    --bs-card-bg: none;
    border: none;
    
    .wrapper-image {
      height: 250px;
      
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
      }
    }

    p {
      color: white;
    }
  }
}