@import "~bootstrap/scss/bootstrap";

body {
  font-family: "Roboto", sans-serif;
}

header {

  
  .dc-logo {
    height: 4rem;
  }

  .top-bar {
    height: 1rem;
    background-color: #0c7cec;
  }
  
  nav {

    padding: 2rem 0;

    ul {
      list-style-type: none
    }
    
    li {

      .link {
        text-decoration: none;
        color: inherit;
        padding: 0.4rem 0.6rem;
        margin: 0 0.5rem;
        border-radius: 15px;
      }

      .link.active {
        background-color: #0c7cec;
        color: white;
      }
    }

  }

  .jumbotron {
    height: 25rem;
    overflow: hidden;

  }

}
